/*
========================================================================================
    BJ-CNV Nextflow config file
========================================================================================
    Default config options for standard and batch profiles
----------------------------------------------------------------------------------------
*/

manifest {
  name = "BJ-CNV"
  description = "Pipeline for CNV calling from BAM files"
  homePage = "https://github.com/BioSkryb/nf-CNV-pipeline"
  mainScript = "main.nf"
  version = '1.2.4'
  nextflowVersion = '!>=21.10.6' // with ! prefix, stop execution if current version does not match required version.
}

params{
  // GENERAL
  timestamp = new java.util.Date().format( 'yyMMdd_HHmmss').toString()
  help = false
  organization = ""
  workspace = ""
  project = ""
  
  genome = "GRCh38"
  
  tmp_dir = "/tmp/${params.timestamp}"
  bam_dir = ""
  input_csv = ""
  sample_name = ""
  
  ploidy = 2
  bin_size = 1000000 // 500000, 1000000, 2000000 options
  min_ploidy = 1.5
  max_ploidy = 6
  min_bin_width = 5
  is_haplotype = 2
  ginko_readlen = 76
  
  
  publish_dir = ""
  enable_publish = true
  disable_publish = false
  
  
  // MULTIQC
  multiqc_config = "$baseDir/assets/multiqc"
  
  
  // NOTIFICATIONS
  email_on_fail = ""

}

// Load environment config
includeConfig './nf-bioskryb-utils/conf/environment.config'
// Load genomes config
includeConfig './nf-bioskryb-utils/conf/genomes.config'
includeConfig './nf-bioskryb-utils/conf/modules.config'

